<html lang="en">
<head>
    <meta name="application-name" content="CHS Online" />
    <meta name="description" content="CHS Online Services" />
    <meta name="keywords" content="CHS Online, SILMF, SILME, SSM, Hyperlinks, CHS, CHSPJ, CHSPJ Online" />
    <meta charset="utf-8" />
    <meta name="google-translate-customization" content="ffc9908cefb7379c-56a3068bebe1d7d9-ga25c40001d7e4c27-1d"></meta>
    <link rel="stylesheet" type="text/css" href="../layout/css/menubar.css" />
    <!-- Copy this script into your html file to enable Application Insights -->
    <script type="text/javascript">
        var appInsights = { queue: [], start: function (n) { function r(n, t) { n[t] = function () { var i = arguments; n.queue.push(function () { n[t].apply(n, i) }) } } var t, i; this.applicationInsightsId = n; this.accountId = null; this.appUserId = null; r(this, "logEvent"); r(this, "logPageView"); t = document.createElement("script"); t.type = "text/javascript"; t.src = "//az416426.vo.msecnd.net/scripts/ai.js"; t.async = !0; i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(t, i) } };
        appInsights.start("6966d69a-d5db-458c-a418-5f63934c2714");
        appInsights.logPageView();
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-45453423-2', 'chspjonline.azurewebsites.net');
        ga('send', 'pageview');
    </script>
</head>
	<body>
        <p style="text-align:center;"><a href="../index.html"><img src="../layout/logo.png" alt="CHS Online"></a></p>
        <nav>
            <ul>
                <li><a class="menubar" href="../Default.cshtml">Home</a></li>
                <li><a class="menubar">Student</a>
                <ul>
                    <li class="governmentlink"><a href="http://beb8653.1bestarinet.net" target="_blank">FROG VLE</a></li>
                    <li class="inhouseapps"><a href="../student/silmf.cshtml">SILMF</a></li>
                    <li class="inhouseapps"><a href="../student/silme.cshtml">SILME</a></li>
                    <li class="inhouseapps"><a href="../general/ssm.cshtml">SSM</a></li>
                    <li class="inhouseapps"><a href="../general/timetable/index.html" target="_blank" onclick='window.alert("This system only contains morning session timetable currently.")'>Timetable</a></li>
                    <li class="externallink"><a href="http://portal.office.com" target="_blank">Office 365</a></li> 
                    <li class="externallink"><a href="https://itacademy.microsoftelearning.com/?whr=urn:federation:O365" target="_blank">Microsoft IT Academy</a></li>
                    <li class="externallink"><a href="http://e5.onthehub.com/d.ashx?s=4bw67mmnuf" target="_blank">Microsoft Dreamspark</a></li>
                    <li class="governmentlink"><a href="http://spp.moe.edu.my" target="_blank">e-Bahan</a></li>
                    <li class="governmentlink"><a href="http://www.eduwebtv.com" target="_blank">EduWebTV</a></li>
                    <li class="governmentlink"><a href="http://sapsnkra.moe.gov.my/ibubapa2/index.php" target="_blank">SAPS (Semakan)</a></li>
                    <li class="governmentlink"><a href="http://webmpm.mpm.edu.my/stpma/" target="_blank">Semak STPM 2013</a></li>
                    <li class="governmentlink"><a href="http://apps5.moe.gov.my/emkoko/papar_mark.cfm" target="_blank" onclick='window.alert("This system only contains GERKO marks of Form 5 and Form Upper 6 Students Year 2013")'>Semak Markah Koko</a></li>
                    <li class="governmentlink"><a href="http://www.moe.gov.my/" target="_blank">MOE</a></li>
                    <li class="governmentlink"><a href="http://www.mpm.edu.my/" target="_blank">MPM</a></li>
                    <li class="externallink"><a href="http://rechneronline.de/function-graphs/" target="_blank">RECHNERonline Plotter</a></li>
                    <li class="externallink"><a href="http://www.khanacademy.org/" target="_blank">Khan Academy</a></li>
                    <li class="externallink"><a href="http://www.wikipedia.org/" target="_blank">Wikipedia</a></li>
                </ul>
                </li>
                <li><a class="menubar">Teacher</a>
                    <ul>
                        <li class="governmentlink"><a href="http://beb8653.1bestarinet.net" target="_blank">FROG VLE</a></li>
                        <li class="inhouseapps"><a href="silmfteacher.cshtml">SILMF (Teacher)</a></li>
                        <li class="inhouseapps"><a href="../general/ssm.cshtml">SSM</a></li>
                        <li class="inhouseapps"><a href="../general/timetable/index.html" target="_blank" onclick='window.alert("This system only contains morning session timetable currently.")'>Timetable</a></li>
                        <li class="externallink"><a href="http://portal.office.com" target="_blank">Office 365</a></li>
                        <li class="externallink"><a href="https://itacademy.microsoftelearning.com/?whr=urn:federation:O365" target="_blank">Microsoft IT Academy</a></li>
                        <li class="externallink"><a href="http://sms.chspj.edu.my" target="_blank">SMS</a></li>
                        <li class="governmentlink"><a href="http://sps.1bestarinet.net" target="_blank">SPS</a></li>
                        <li class="governmentlink"><a href="http://sapsnkra.moe.gov.my" target="_blank">SAPS</a></li>
                        <li class="governmentlink"><a href="http://apdm.moe.gov.my/" target="_blank">APDM</a></li>
                        <li class="governmentlink"><a href="http://www.anm.gov.my/" target="_blank">e-Penyata Gaji</a></li>
                        <li class="governmentlink"><a href="http://apps.moe.gov.my/eoperasi/" target="_blank">e-Operasi</a></li>
                        <li class="governmentlink"><a href="http://apps2.moe.gov.my/epangkat/login.php" target="_blank">e-PANGKAT</a></li>
                        <li class="governmentlink"><a href="http://spp.moe.edu.my" target="_blank">e-Bahan</a></li>
                        <li class="governmentlink"><a href="http://www.eduwebtv.com" target="_blank">EduWebTV</a></li>
                        <li class="governmentlink"><a href="http://pnp.moe.edu.my/eguru" target="_blank">e-Guru</a></li>
                        <li class="governmentlink"><a href="http://apps.moe.gov.my/epgo/" target="_blank">e-GTukar</a></li>
                        <li class="governmentlink"><a href="http://emisonline.moe.gov.my/" target="_blank">EMIS</a></li>
                        <li class="governmentlink"><a href="http://apps5.moe.gov.my/ssdm/" target="_blank">SSDM</a></li>
                        <li class="governmentlink"><a href="http://www.moe.gov.my/" target="_blank">MOE</a></li>
                        <li class="governmentlink"><a href="http://www.mpm.edu.my/" target="_blank">MPM</a></li>
                        <li class="governmentlink"><a href="http://btpnsel.edu.my/" target="_blank">BTPN Selangor</a></li>
                        <li class="externallink"><a href="http://mail.google.com" target="_blank">Gmail</a></li>
                        <li class="externallink"><a href="https://www.dropbox.com" target="_blank">Dropbox</a></li>
                        <li class="externallink"><a href="http://rechneronline.de/function-graphs/" target="_blank">RECHNERonline Plotter</a></li>
                        <li class="externallink"><a href="http://www.khanacademy.org/" target="_blank">Khan Academy</a></li>
                        <li class="externallink"><a href="http://www.wikipedia.org/" target="_blank">Wikipedia</a></li>
                    </ul>
                </li>
                <li><a class="menubar">Parent</a>
                <ul>
                    <li class="governmentlink"><a href="http://beb8653.1bestarinet.net" target="_blank">FROG VLE</a></li>
                    <li class="inhouseapps"><a href="../parent/silmfparent.cshtml">SILMF (Parent)</a></li>
                    <li class="inhouseapps"><a href="../general/timetable/index.html">Timetable</a></li>
                    <li class="governmentlink"><a href="http://sapsnkra.moe.gov.my/ibubapa2/index.php" target="_blank">SAPS (Semakan)</a></li>
                    <li class="governmentlink"><a href="http://webmpm.mpm.edu.my/stpma/" target="_blank">Semak STPM 2013</a></li>
                    <li class="governmentlink"><a href="http://www.moe.gov.my/" target="_blank">MOE</a></li>
                    <li class="governmentlink"><a href="http://www.mpm.edu.my/" target="_blank">MPM</a></li>
                </ul>
                </li>
                <li class="schoolwebsiteurl"><a href="http://chspj.edu.my" target="_blank">School Website</a></li>
                <li class="admin"><a href="https://chspjonline.azurewebsites.net/admin/">Admin</a></li>
            </ul>
        </nav>
            <br />
        <br />
			

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SILMF Teacher Edition - CHS Online</title>
    </head>
    <body>
        <img src="Sistem&#32;SILMF&#32;logo&#32;Teacher&#32;Edition.jpg" alt="Sistem Semakan Informasi Log Masuk FROG Teacher Edition" border="1"></img>
        <br></br>
                   <form method="post">
        <label for="ic">IC number (Ex: 961201088639):</label>
		<input type="text" name="IC" value="">
                       <text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text>
        <label for="teachername">Teacher full name:</label>
        <input type="text" name="teachername" value="">
            <br></br>
		    <input type="submit" value="Check">
            <text>&nbsp;&nbsp;&nbsp;<i>*All fields are required to be filled in.</i></text>
		</form>


        <br><br>Database last updated on: 7 April 2014
        <br>If you met any problems, please consult Madam Chan Yoke Bee (Morning) or Madam Emilda Balkis (Afternoon).
         <p>CHS Online - SILMF Teacher Edition v1.6.0.0</p>
    </body>
</html>

        <p style="font-style:italic;">*This website is tested working well with Microsoft Internet Explorer 11.0 and Google Chrome 34.0</p>
            <p style="font-size:20px;font-weight:bold;text-align:center;">&copy; Chong Onn Keat, SMJK Katholik, 2014. All Rights Reserved.
        <br />
                <a href="http://azure.microsoft.com/en-us/" target="_blank">Powered by Microsoft Azure.</a></p>
        <br />
        <div id="google_translate_element"></div>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'en', gaTrack: true, gaId: 'UA-45453423-2' }, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	</body>
</html>