body{
    background:none;
}
nav{
    width: 100%;
    height: 33px;
    margin: 3px;
    position: relative;
}

nav ul {
    height: 33px;
	padding: 0;
	margin: 0;  
	position: absolute;
}
nav ul li {
    height: 33px;
    float: left;
    text-align: center;
    width: 218px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #5ff221;
}
nav ul li:hover .inhouseapps {
    background-color: #ffd46f;
    }
nav ul li:hover .governmentlink{
    background-color: #75f7f7;
}
nav ul li:hover .externallink{
    background-color: lightgreen;
}
nav ul li:hover .menubar{
    background-color: lightgreen;
}
nav ul a{
    height: 33px;
    padding: 0px;
    border-left: 1px solid darkgreen;
    border-right: 1px solid darkgreen;
    border-top: 1px solid darkgreen;
    border-bottom: 1px solid darkgreen;
    text-decoration: none;
    color: black;
    display: block;
    font-size: 20px;
    font-weight: bold;
}
nav ul li ul {
        display: none;
    }
nav ul li:hover ul
{
    display: block;
}
nav ul li ul li:hover a
{
    background-color: lightblue;
}
.schoolwebsiteurl {
    height: 33px;
    float: left;
    text-align: center;
    width: 160px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #FFFF85;
}
.admin {
    height: 33px;
    float: left; 
    text-align: center;
    width: 80px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: red;
}
.inhouseapps {
    height:33px;
    float:left;
    text-align:center;
    width:218px;
    list-style:none;
    padding:0px;
    margin:0px;
    background-color:#ffd46f;
}
.externallink {
    height:33px;
    float:left;
    text-align:center;
    width:218px;
    list-style:none;
    padding:0px;
    margin:0px;
    background-color:lightgreen;
}
.governmentlink {
    height:33px;
    float:left;
    text-align:center;
    width:218px;
    list-style:none;
    padding:0px;
    margin:0px;
    background-color:#75f7f7;
}
.menubar {
    height:33px;
    text-align:center;
    width:218px;
    list-style:none;
    padding:0px;
    margin:0px;
    background-color:#5ff221;
}